:root {
  --header-height: 100px;
}

html {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
}

* {
  margin: 0;
  padding: 0;
}

#page {
  height: 500vh;
  width: 300vw;
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
}

.step1 {
  display: inline-block;
}

.step2 {
  display: none;
}

.observed-iframe {
  position: absolute;
  top: 101vh;
  left: 80vh;
  border: 1px solid;
  border-color: white;
}

#context {
  position: fixed;
  top: var(--header-height);
  width: 500px;
  height: 50px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: white;
  font-size: 14px;
  border-bottom: none;
  background: rgba(51, 54, 66, 0.8);
}

#output {
  position: fixed;
  top: 150px;
  right: 0px;
  width: 500px;
  height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(51, 54, 66, 0.8);
  border: 1px solid;
  border-color: white;
  border-top: none;
}

#controls {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: var(--header-height);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgba(51, 54, 66, 0.8);
  border: 1px solid;
  border-color: white;
  flex-wrap: wrap;
}

#io-output {
  max-width: 400px;
  font-size: 11px;
  overflow-wrap: break-word;
  font-family: Monaco, MonoSpace;
  color: white;
}

.output-io-key {
  color: #ee91ff;
}

.output-key {
  color: #ddca7e;
}

.button {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  -webkit-appearance: none;
  font-size: 12px;
  display: none;
  text-shadow: none;
  line-height: 1.2;
  padding: 5px 14px;
  margin: 0 10px 0 0;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none !important;
  text-align: center;
  font-weight: normal !important;
}

select {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5em 2em 0.5em 0.5em;
  border: 1px solid #eee;
  font: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%),
    linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: right 15px top 1em, right 10px top 1em;
  background-size: 5px 5px, 5px 5px;
}

#proxy {
  position: absolute;
  width: 300vw;
  height: 800vh;
  background-color: red;
}
